.tieu-su{
    width: 100%;
    height: 50vw;
    position: relative;
}
.tieu-su-trai{
    width: 20vw;
    height: 30vw;
    background-color: blue;
    margin: 1vw 1vw 1vw 10vw;
    position: absolute;
    
}
.tieu-su-phai{
    width: 55vw;
    height: 45vw;
    
    margin: 1vw 1vw 1vw 34vw;
    position: absolute;
}
.tieu-su-img{
    width: 20vw;
    height: 30vw;

}
.tieusu-p-1{
    font-size: 2vw;
    color: #F80;
}
.tieusu-p-2{
    font-size: 1.5vw;
    color: white;
}
.tieu-su-a{
    width: 20vw;
    height: 5vw;
    position: absolute;
    text-align: center;
    margin: 20vw 1vw 1vw -20vw;
    font-size: 3vw;
    font-weight: 800;
    text-decoration: none;
    z-index: 1;
    color: red;
    background-color: rgba(0, 255, 255, 0.74);
}
.tieu-su-hr{
    width:90% ; 
    margin: 1vw auto ;
}
.tieu-su-a:hover{
    color: rgba(255, 0, 0, 0.699);
}
.tieu-su-hr2{
    width:90% ; 
    margin: 1vw auto ;
}
.binh-luan{
    width: 50vw;
    height: 30vw;
    background-color: #fff;
    border: 0.2vw solid #000;
    margin: auto;
}



.tap-tttt{
width: 80vw;
height: 40vw;
margin: auto;
}
.tap-tttt-trai{
    width: 50vw;
    height: auto;
}
.tap-tttt-vid{
    width: 100%;
    box-sizing:border-box ;
    box-shadow:0 0 15px #05d1f5;
}
.tap-tttt-phai{
    border: 0.2vw solid #05d1f5;
    width: 25vw;
    height: 40vw;
    background-color: rgba(255, 255, 255, 0.315);
    position:absolute;
    margin: -28.5vw 1vw 1vw 55vw;
}
.tap-tttt-input{
    width: 46.5vw;
    border: 1px;
    height: 2.5vw;
    font-size: 1.2vw;
    outline: none;
    border-bottom: 0.2vw solid #000;
}
.fa-paper-plane{
    font-size: 2vw;
    margin: 0.5vw;
    position: absolute;
}
.ten-tap-phim{
    float: left;
    text-align: center;
    color: #fff;
    width: 50vw;
    font-size: 2vw;
    margin:2vw auto;
}
.top-phim-dau{
    position:absolute;
    width: 100%;
    height: 3vw;
    background-color: #F80;
    text-align: center;
}
.top-phim-dau-p{
    color: antiquewhite;
    font-weight: 600;
    font-size: 1.5vw;
    margin: 0.5vw 1vw 1vw 9vw;
    position: absolute;
}
.top-phim-than-ul{
    width: 100%;
    height: 37vw;
    position: absolute;
    margin-top: 3vw;
}
.top-phim-than-a{
    width: 100%;
    display: flex;
    height: 7vw;
    margin-top: 0.35vw;
    text-decoration: none;
}
.top-phim-than-a-trai{
    width: 5vw;

    height: 7vw;
    margin: 0vw 0 0 0.5vw;
}
.top-phim-than-img{
    width: 5vw;
    height: 7vw;
}
.top-phim-than-a-phai{
    width: 18.5vw;

    height: 7vw;
    margin: 0vw 0 0 1vw;
}
.top-phim-ten-phim{
    font-size: 1.5vw;
    color: #F80;
    margin-top: 0.5vw;
}
.top-phim-tap-phim{
    font-size: 1.2vw;
    color: #fff;
    margin-top: 0.2vw;
    
}











@media only screen and (max-width: 46.1875em){

    .tieu-su{
        width: 100%;
        height: 70vw;
        position: relative;
    }
    .tieu-su-trai{
        width: 32vw;
        height: 50vw;
        
        background-color: blue;
        margin: 1vw 1vw 1vw 33vw;
        position: absolute;
    }
    .tieu-su-phai{
        width: 75vw;
        height: 45vw;
        
        margin: 50vw 1vw 1vw 10vw;
        
    }
    .tieu-su-img{
        width: 32vw;
        height: 50vw;
    
    }
    .tieusu-p-1{
        text-align: center;
        font-size: 4vw;
        color: #F80;
    }
    .tieusu-p-2{
        font-size: 2.5vw;
        color: white;
    }
    .tieu-su-hr{
        margin: 80vw auto 0 auto ;
    }
    .tieu-su-a{
        width: 32vw;
        height: 10vw;
        margin:  30vw 1vw 1vw -32vw;
    }
    .tieu-su-a-p{
        margin-top: 2vw;
        font-size: 4vw;
    }
    .tieu-su-hr2{
        width:90% ; 
        margin: 20vw auto 1vw auto;
    }
    




    .tap-tttt-phai{
        display: none;
    }
    .tap-tttt-trai{
        width: 80vw;
    }
    .ten-tap-phim{
        width: 100%;
        font-size: 5vw;
    }
    .binh-luan{
        width: 90%;
    }
    .tap-tttt-input{
        width: 80vw;
        height: 7vw;
        font-size: 3vw;
    }
    .fa-paper-plane{
        font-size: 5vw;
        margin: 0.7vw;
        position: absolute;
    }
}